.weather {

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  &__header-item {
    padding: 15px;
    background-color: rgba(190, 177, 177, 0.3);
    border-radius: 8px;
  }
}

@media (max-width: 600px) {
  .weather{
    &__header{
      grid-gap: 10px;
    }
  }
}

@media (max-width: 500px) {
  .weather{
    &__header{
      grid-template-columns: 1fr;
    }
  }
}