.list-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;


  &__item {


  }

  &__img {
    margin-bottom: 10px;
  }

&__date{
  line-height: 2;
}
  &__wind {
    font-size: 16px;
  }

  &__temperature {
    text-align: center;
    font-size: 16px;
  }

}