.weather {


  &__inner {
    max-width: 700px;
    background: linear-gradient(#547AB9, #55CEAF);
    margin: 0 auto;
    padding: 30px;
    color: #ffffff;

  }

  &__title {
    font-size: 22px;
    font-weight: 600;

    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__header + &__footer {
    margin-top: 20px;
  }
}

@media (max-width: 567px) {
  .weather {
    &__title {
      font-size: 18px;

      span {
        display: block;
        margin-top: 2px;
      }
    }
  }
}

